

html, body {
	margin: 0;
	padding: 0;
	color: #000000;
}

body {
	padding: 10;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 20px;
	text-align: left;
}

header {
	width: 100%;
    background-color: lightgrey;
}

.header-index {
	height: 543px;
}

.header-inner {
	height: 354px;
}

.main-navigator {
	text-transform: uppercase;
	color: #000000;
}

h1 {
	font-size: 55px;
	text-align: left;
}

h2 {

}


.rectangle {
	width: 237px;
    height: 49px;
    font-size: 16;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 20px 60px;
    margin-top: 415px;
    margin-left: 140px;
    margin-right: 1060px;
    margin-bottom: 2010px;
    background-color: #fb565a; 

}


footer {
	padding: ;
	font-family: ;
	font-size: ;
	line-height: ;
}



:focus {

}


.button {
	
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

