

html, body {
	margin: 0;
	padding: 0;
	color: #000000;
}

body {
	padding: 10;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 20px;
	text-align: left;
	list-style: none;
}

a {
  text-decoration: none;
}

.header-index {
    width: auto;
    background-color: lightgrey;
    background-position: top center;
}

.header-inner {
    width: auto;
    background-color: lightgrey;
    background-position: top center;
}

.main-navigator {
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
	background-color:lightgrey;
  	background-position: top center;
  	background-repeat: no-repeat;
}

.site-navigation a {
  list-style: none;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
}

h1 {
	font-size: 55px;
	text-align: left;
}

h2 {

}

.slider-item {
	list-style: none;
	text-align: left;
}

.rectangle {
	width: 237px;
    height: 49px;
    font-size: 16;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 20px 60px;
    margin-top: 415px;
    margin-left: 140px;
    margin-right: 1060px;
    margin-bottom: 2010px;
    background-color: #fb565a; 
}

footer {
	padding: ;
	font-family: ;
	font-size: ;
	line-height: ;
}

button {
	color: #000000;
	font: inherit;
  	text-align: center;
    vertical-align: middle;
  	text-transform: uppercase;
  	background-color: #fb565a;
  	border: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

*, *!::before, *!::after {
box-sizing: inherit;
}

html {
box-sizing: border-box;
}

.content-box-component {
box-sizing: content-box;
}

