

html, body {
	margin: 0;
	padding: 0;
	color: #000000;
}

body {
	padding: 10;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 20px;
	text-align: left;
	list-style: none;
}

a {
  text-decoration: none;
}

.header-index {
    background-color: lightgrey;
    background-position: top center;
}

.header-inner {
    background-color: lightgrey;
    background-position: top center;
}

.main-navigator {
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
	background-color: lightgrey;
  	background-position: top center;
  	background-repeat: no-repeat;
}

.site-navigation a {
  list-style: none;
  color: #000000;
}

.site-navigation a:hover {
	color: #fb565a;
}

.site-navigation a:focus {
	color: #a6a6a6
}

a:focus {
	outline: none;
}

h1 {
	font-size: 55px;
	text-align: left;
}

h2 {

}

h3 {
	font-size: 24px;
	font-weight: bold;
}

h4 {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.center {
	font-size: 16px;
	color: #666666;
	text-align: center;
	background-color: #eeeeee;
}

.price-sort {
	font-size: 16px;
	font-weight: normal;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #fb565a;
}

h6 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

li {
	list-style: none;
}

.page1 {
	background-color: none;
	border-color: 1px #eeeeee;
}

.page2 {
	background-color: #eeeeee;
}

.page3 {
	background-color: #eeeeee;
}

.next {
	text-transform: uppercase;
	background-color: #eeeeee;
}

.slider-item {
	list-style: none;
	text-align: left;
}

.small-atelier {
	font-size: 45px;
}

.up-table {
	text-transform: uppercase;
	font-weight: bold;
}

.td-1 {
	font-size: 45px;
	font-weight: bold;
}

.sup {
	font-size: 35px;
	vertical-align: super;
}

.rectangle {
	font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    background-color: #fb565a;
}

.rectangle a:hover {
	color: #ffffff;
	background-color: #e74246;
}

.rectangle a:focus {
	color: #ffffff;
	opacity: 0.75;
	background-color: #d7373b;
}

.button-index-red a:hover {
	background-color: #fb565a;
}

.button-index-red a:focus {
	color: #ffffff;
	opacity: 0.75; 
	background-color: #d7373b;
}

.button-index-green a:hover {
	background-color: #00bc6c;
}

.button-index-green a:focus {
	color: #ffffff;
	opacity: 0.75; 
	background-color: #00aa62;
	
}

.button-index-yellow a:hover {
	background-color: #efc84a;
}

.button-index-yellow a:focus {
	color: #ffffff;
	opacity: 0.75; 
	background-color: #e5a722;
}

.address {
	text-align: left;
    background-color: #ffffff;
}

.slogan {
	font-size: 36px;
	text-align: left;
	font-weight: bold;
}

.opacity1 {
	opacity: 0.5;
}

.subtitle {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
}

footer {
	padding: ;
	font-family: ;
	font-size: ;
	line-height: ;
}

.button-index {
	color: #ffffff;
	text-align: center;
    vertical-align: middle;
  	text-transform: uppercase;
  	background-color: #fb565a;
  	border: none;
}

.button-index-red {
	background-color: #fb565a;
}

.button-index-green {
	background-color: #00ca74;
}

.button-index-yellow {
	background-color: #efc84a;
}

.button-inner {
	color: #000000;
	text-align: center;
    vertical-align: middle;
  	text-transform: uppercase;
  	background-color: #eeeeee;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

*, *!::before, *!::after {
box-sizing: inherit;
}

html {
box-sizing: border-box;
}

.content-box-component {
box-sizing: content-box;
}

